@page "/counter"
@using ReactiveUI.Blazor;
@using System.Reactive.Threading.Tasks;
@using ioDeviceEmulatorGUI.ViewModels;
@inherits ReactiveComponentBase<CounterViewModel>

<h1>Counter</h1>

<p>Current count: @ViewModel.CurrentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@code{

    public Counter()
    {
        ViewModel = new CounterViewModel();
    }    

    private async Task IncrementCount()
    {
        await ViewModel.Increment.Execute().ToTask();
    }


}